/* Styling for the initial cinematic text */
.cinematicText {
  text-align: center;
  font-weight: 500;
  line-height: 1.7;
  color: #17134d;
  font-size: 1.125rem; /* 18px */
}

@media (min-width: 768px) {
  .cinematicText {
    font-size: 1.3rem; /* 20.8px */
  }
}